/*
Theme Name:     Divi Child
Template:       Divi
Theme URI: https://www.webdesignsun.com
Author: Web Design Sun® Team
Author URI: https://www.webdesignsun.com
Description: This Custom Theme is Unique and Designed with Soul and Care in a Single Copy only for courses.dropshiplifestyle.com by Web Design Sun® Team.
Version: 1.0
License: Commercial
License URI: https://www.webdesignsun.com
Tags: custom development
Text Domain: webdesignsuntheme

© All Rights Reserved courses.dropshiplifestyle.com
*/

@import url('https://fonts.googleapis.com/css?family=Tajawal:400,500,700');

.referral {
    background-color: #f5f6f8;
    padding: 40px 0;
    font-family: 'Tajawal', sans-serif;
    position: relative;
}

.referral .container {
    max-width: 1359px;
}

.referral__sidebar {
    float: left;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.05);
    background: #fff;
    padding: 40px 0;
    width: 234px;
}

.referral__sidebar a {
    transition: 0.3s background-color, 0.3s border-color, 0.3s color;
    border-left: 4px solid transparent;
}

.referral__sidebar a .icon svg path {
    transition: 0.3s fill;
}

.referral__sidebar a:hover .icon svg path {
    fill: #3FA0F8;
}

.referral__sidebar a:hover .icon svg,
.referral__sidebar a.current .icon svg {
    opacity: 1;
}

.referral__sidebar a.current {
    color: #0A0A0A;
    background-color: rgba(30,115,190,0.06);
    border-color: #3FA0F8;
}

.referral__sidebar a:hover {
    color: #0A0A0A;
    background-color: rgba(30,115,190,0.06);
    border-color: #3FA0F8;
}

.referral__sidebar a {
    color: rgba(102,102,102,0.5);
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    display: inline-block;
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    padding-left: 22px;
}

.referral__sidebar li:last-of-type a {
    margin: 0;
}

.referral__inner {
    float: right;
    width: calc(100% - 304px);
}

.referral__content {
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.05);
    background: #fff;
    padding: 44px 48px;
}

.referral__title {
    color: #333333;
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
}

.referral__title {
    color: #333333;
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
    float: left;
    margin: 4px 0 0;
}

.referral__withdraw-btn {
    float: right;
    height: 38px;
    width: 199px;
    border-radius: 5px;
    background-color: rgba(30, 115, 190, 1);
    color: #FFFFFF;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    transition: 0.3s background-color;
}

.referral__withdraw-btn.disable:hover,
.referral__withdraw-btn.disable {
    background-color: rgba(30, 115, 190, 0.50);
    cursor: default;
}

.referral__withdraw-btn:hover {
    background-color: rgb(19, 59, 95);
}

.referral__stat {
    float: left;
    width: 36%;
}

.referral__stat.referrals {
    width: 28%;
}

.referral__stats {
    margin: 60px 0 0;
}

.referral__stat > span {
    display: inline-block;
    vertical-align: top;
}

.referral__icon {
    width: 84px;
    padding-left: 18px;
    height: 64px;
}

.referral__text {
    font-size: 16px;
    margin: 5px 0 0 8px;
    color: #666666;
    font-weight: 400;
    clear: both;
}

.referral__value {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0 0 28px;
    color: #0A0A0A;
}

.referral__value-small {
    display: block;
    color: #0A0A0A;
    font-size: 15px;
    line-height: 23px;
    font-weight: 500;
    margin: 9px 0 0 3px;
}

.referral__withdraw-text {
    font-size: 16px;
    margin: 38px 0 0 0;
    font-weight: 500;
}

.referral__content.invitations {
    margin: 40px 0 0;
}

.referral__sidebar a .icon {
    width: 30px;
    text-align: center;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 2px;
}

.referral__sidebar a.refer-friend {
    padding-left: 27px;
}

.your-earnings .text {
    margin-left: 5px;
    line-height: 40px;
    height: 40px;
    display: inline-block;
}

.referral__sidebar a.refer-friend .icon {
    margin-right: 6px;
}

.referral__sidebar a.current .icon svg path {
    fill: #3FA0F8;
}

.your-earnings svg {
    opacity: 0.52;
    transition: 0.3s opacity;
}

.invitations__items:after {
    content: '';
    display: block;
    clear: both;
}

.circular-chart {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    max-height: 250px;
}

.circle {
    fill: none;
    stroke-width: 1.1;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.invitations__item {
    float: left;
    width: 32%;
    text-align: center;
    margin: 32px 0 0;
}

.invitations__graph {
    position: relative;
    /*background: url("assets/images/oval1.png") 50% 50% no-repeat;*/
}

.invitations__item-percents {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 46px;
    font-weight: bold;
    line-height: 32px;
    padding: 91px 0 0 14px;
}

.invitations__item-percents span:last-of-type {
    font-size: 24px;
    margin: 0 15px 0 0;
}

.invitations__item-text {
    font-size: 18px;
    color: rgb(102, 102, 102);
    font-weight: bold;
    margin: 21px 0 0;
}

.invitations__item-text span {
    color: #0A0A0A;
}

.invitations__graph:after {
    position: absolute;
    content: '';
    width: 155px;
    height: 155px;
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    top: calc(50% - 77.5px);
    left: calc(50% - 77.5px);
    border-radius: 50%;
}

.links-used table {
    width: 100%;
    margin: 54px 0 0;
}

.invitations__item:nth-child(2) {
    margin-left: 2%;
    margin-right: 2%;
}

.links-used thead td {
    padding: 2px 13px;
    font-size: 13px;
    color: #666666;
}

.links-used td.name {
    width: 22%;
    padding-left: 13px;
}

.links-used td.email {
    width: 36%;
    padding-left: 15px;
}

.links-used td.referred {
    width: 13%;
    padding-left: 10px;
}

.links-used td.expires {
    width: 16%;
    padding-left: 13px;
}

.links-used td.status {
    width: 13%;
    padding-left: 13px;
    font-weight: 500;
    text-transform: capitalize;
}

.links-used td.status.expired {
    color: #D0021B;
}

.links-used td.status.sent {
    color: #1E73BE;
}

.links-used td.status.pending {
    color: #1E73BE;
}

.links-used td.status.eligible {
    color: #417505;
}

.links-used tbody td {
    font-size: 16px;
    padding-top: 9px;
    padding-bottom: 9px;
    color: #0A0A0A;
}

.links-used tbody tr:nth-child(2n-1) {
    background: rgba(201, 201, 201, 0.15);
}

.referral__refer-friend .referral__text {
    font-size: 15px;
    margin: 0;
    padding: 21px 0 0 9px;
}

.referral__refer-friend .referral__text ul,
.referral__refer-friend .referral__text ol,
.referral__refer-friend .referral__text p {
    padding-bottom: 20px;
}

.referral__refer-friend .referral__text ol {
    list-style-type: decimal;
    padding-left: 30px;
}

.referral__left {
    float: left;
    width: 68%;
}

.referral__right {
    float: right;
    width: 25%;
}

.referral__video-title {
    font-size: 18px;
    margin: 19px 0 0;
    font-weight: bold;
    padding: 0 0 0;
    line-height: 24px;
}

.referral__video-text {
    margin: 7px 0 0;
    font-size: 13px;
}

.referral__content.referral__invite {
    margin-top: 40px;
}

.referral__refer-friend .referral__text p:last-of-type {
    padding: 0;
}

.referral__sub-title {
    clear: both;
    color: #1E73BE;
    margin: 0;
    padding: 5px 0 0;
    line-height: 24px;
    max-width: 85%;
}

.f-name {
    float: left;
    width: 47%;
}

.e-address {
    float: right;
    width: 47%;
}

.referral__invite-form input[type="text"],
.referral__invite-form input[type="email"] {
    font-family: 'Tajawal', sans-serif;
    width: 100%;
    border-radius: 4px;
    padding: 0 14px;
    margin: 7px 0 0;
    font-size: 16px;
    height: 32px;
}

.referral__invite-form h4 {
    font-weight: bold;
    margin: 0 0 0 14px;
}

.referral__invite-form {
    font-family: 'Tajawal', sans-serif;
    margin: 34px 0 0;
    width: 93%;
}

.referral__invite-form .message {
    margin: 35px 0 0;
}

.referral__invite-form .message__inner {
    border: 1px solid #CACACA;
    border-radius: 5px;
    margin: 8px 0 0 0;
    padding: 15px 22px 0;
}

.referral__invite-form .message__inner {
    border: 1px solid #CACACA;
    border-radius: 5px;
    margin: 8px 0 0 0;
    padding: 16px 20px 14px;
    font-size: 16px;
    word-break: break-word;
}

.referral__invite-form .message-gray {
    color: rgba(102, 102, 102, 0.5);
}

.referral__invite-form p {
    padding-bottom: 23px;
}

.referral__invite-form .message__inner > p:last-of-type {
    padding-bottom: 0;
}

.referral__invite-form input[type="submit"] {
    height: 38px;
    width: 180px;
    border-radius: 5px;
    background-color: #1E73BE;
    color: #FFFFFF;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    margin: 32px 0 0;
    border: none;
    cursor: pointer;
    transition: 0.3s background-color;
}

.referral__invite-form input[type="submit"]:hover {
    background-color: #133b5f;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.40);
    display: none;
    cursor: pointer;
}

p.referral__message {
    position: fixed;
    bottom: -50px;
    left: calc(50% - 70px);
    background-color: #1E73BE;
    min-width: 140px;
    text-align: center;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    margin: 0;
    z-index: 999;
    border-radius: 4px;
    transition: 0.3s bottom;
}

p.error.referral__message {
    background-color: #ff4e4e;
}

.popup__container {
    max-width: 996px;
    margin: 0 auto;
    background: #fff;
}

.popup__inner {
    max-width: 996px;
    margin: 64px auto 0;
    background: #fff;
    padding: 49px;
    cursor: default;
    width: calc(100% - 40px);
}

.popup__container .referral__stats {
    margin-top: 22px;
}

.referral__value {
    margin: 20px 0 0 0;
    padding: 0;
    width: calc(100% - 170px);
    text-align: center;
}

.referral__stat.balance .referral__value {
    margin-top: 9px;
}

.popup .referral__icon {
    padding-left: 0;
    width: 64px;
}

.popup__title {
    font-weight: 700;
    font-size: 25px;
}

.popup__payment {
    margin: 47px 0 0;
}

.popup__payment-block {
    background-color: #ECECEC;
    margin: 12px 0 0;
    border-radius: 4px;
    padding: 17px 32px;
}

.popup__payment-block h5 {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    margin: 9px 0 0;
    color: #666666;
}

.popup__payment-block .left {
    float: left;
}

.popup__payment-block .left > div {
    position: relative;
    display: inline-block;
    margin: 0 0 0 13px;
    vertical-align: top;
}

.popup__payment-dollar {
    position: absolute;
    left: 0;
    top: 0;
}

.popup__payment-block .left input {
    height: 35px;
    line-height: 36px;
    width: 114px;
    border: 1px solid #3FA0F8;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 0 0 0 50px;
    font-size: 14px;
    color: #0A0A0A;
}

.popup__payment-dollar {
    position: absolute;
    left: 38px;
    top: 1px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    color: #0A0A0A;
}

.popup__payment-block .right {
    float: right;
}

.popup__payment-block .right span {
    font-weight: bold;
    font-size: 17px;
    color: #0A0A0A;
}

.popup__payment-block .right h5 {
    margin-right: 10px;
}

.popup__pay-method {
    float: left;
    width: 50%;
    text-align: center;
    opacity: 0.5;
}

.popup__pay-method.active {
    opacity: 1;
}

.popup__pay-methods {
    padding: 30px 54px 0;
}

.popup__pay-image {
    height: 116px;
    width: 151px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    display: inline-block;
    border-radius: 8px;
    position: relative;
}

.popup__pay-title {
    font-size: 18px;
    font-weight: bold;
    margin: 35px 0 0;
}

.popup__pay-method input {
    border: 1px solid #CACACA;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 16px 0 0 0;
    width: 100%;
    max-width: 316px;
    padding: 8px 14px;
    font-size: 15px;
}

.popup__pay-method.bank-transfer img {
    padding-top: 14px;
}

.popup__pay-method.paypal img {
    padding-top: 28px;
}

.popup__pay-method.bank-transfer img {
    max-width: 70px;
}

.popup__pay-method textarea {
    height: 137px;
    width: 324px;
    border: 1px solid #CACACA;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 16px 0 0;
    padding: 6px 18px;
    font-family: 'Tajawal', sans-serif;
    font-size: 16px;
    line-height: 23px;
    resize: none;
}

.popup__pay-radio input {
    width: 20px;
    height: 20px;
}

.popup__pay-radio input {
    position: absolute;
    bottom: 14px;
    left: calc(50% - 10px);
}

.popup__pay-password {
    background: #D6D6D6;
    border-radius: 4px;
    margin: 17px 0 0;
    padding: 16px 32px;
}

.popup__pay-password h4 {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    color: #0A0A0A;
    margin: 10px 12px 0 0;
}

.popup__pay-password input {
    display: inline-block;
    vertical-align: top;
    height: 35px;
    line-height: 35px;
    width: 207px;
    border: 1px solid #CACACA;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 0 13px;
}

.popup__buttons {
    text-align: center;
    margin: 34px 0 0 44px;
}

.popup__buttons a {
    display: inline-block;
    border-radius: 5px;
    background-color: #1E73BE;
    color: #fff;
    font-weight: 300;
    font-family: "Open Sans", Arial, sans-serif;
    padding: 9px 35px 6px;
    margin: 0 10px;
    font-size: 16px;
    transition: 0.3s background-color;
}

.popup__buttons a:hover {
    background-color: #133b5f;
}

.popup__buttons a.popup__button-cancel {
    background-color: #9B9B9B;
}

.popup__buttons a.popup__button-cancel:hover {
    background-color: #636161;
}

.referral__disable-title {
    clear: both;
    margin: 10px 0 0;
    font-weight: bold;
    color: #ff4e4e;
}

.referral__invite-disable {
    position: relative;
}

.referral__invite-disable:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
}

.referral label.error {
    color: #ff4e4e;
}

#pay-password-error,
#payment-amount-error {
    margin: 0 0 0 10px;
}

#bank-transfer-data-error,
#paypal-email-error {
    display: block !important;
}

.blocked-error {
    text-align: center;
    font-size: 40px;
    line-height: 50px;
}

.links-used {
    overflow: auto;
}

@media only screen and (max-width: 1600px) {
    .referral__sidebar {
        float: none;
        margin: 0 0 40px;
        width: 100%;
    }
    .referral__inner {
        width: 100%;
        float: none;
    }
}

@media only screen and (max-width: 1300px) {
    .referral__stat.referrals,
    .referral__stat {
        float: none;
        width: 100%;
        margin: 20px auto;
        max-width: 400px;
    }
}

@media only screen and (max-width: 1200px) {
    .invitations__graph:after {
        width: 130px;
        height: 130px;
        top: calc(50% - 65px);
        left: calc(50% - 65px);
    }
    .invitations__item-percents {
        font-size: 32px;
    }
}

@media only screen and (max-width: 1000px) {
    .popup__pay-method {
        width: 100%;
        margin: 0 0 30px;
    }
    .invitations__item {
        width: 100%;
    }
    .referral__content {
        padding: 30px 15px;
    }
    .referral__left {
        width: 100%;
    }
    .referral__right {
        width: 100%;
        margin-top: 20px;
    }
    .referral__refer-friend .referral__text {
        padding-left: 0;
    }
    .f-name,
    .e-address {
        width: 100%;
    }
    .referral__invite-form .message,
    .e-address {
        margin-top: 15px;
    }
    .referral__invite-form h4 {
        margin: 0;
    }
}

@media only screen and (max-width: 640px) {
    .referral__value {
        font-size: 30px;
    }
    .referral__value-small {
        font-size: 14px;
    }
    .referral__text {
        font-size: 16px;
    }
    .referral__title {
        width: 100%;
        text-align: center;
    }
    .referral__withdraw-btn {
        float: none;
        display: inline-block;
    }
    .referral__withdraw.clearfix > .clearfix:first-of-type {
        text-align: center;
    }
    .referral__stats {
        margin: 20px 0 0;
    }
    .popup__pay-method textarea {
        width: 100%;
    }
    .popup__pay-methods {
        padding: 30px 0 0;
    }
    .popup__buttons {
        margin: 20px 0 0;
    }
    .popup__buttons a {
        margin-bottom: 10px;
    }
    .popup__inner {
        padding: 30px 15px;
    }
}