@import url('https://fonts.googleapis.com/css?family=Tajawal:400,500,700');

.referral,
.referral input {
    font-family: 'Tajawal', sans-serif;
}

.referral {
    background: #fff;
    padding: 30px 20px;
    width: 100%;
    margin: 10px 0;
    max-width: 1100px;
    box-sizing: border-box;
}

.toplevel_page_referral .wp-menu-image img {
    max-width: 22px;
    margin: -3px 0 0;
}

.referral .title {
    font-size: 25px;
    margin: 0 0 34px;
}

.settings:after {
    content: '';
    clear: both;
    display: block;
}

.settings__title {
    width: 246px;
    float: left;
    font-size: 18px;
    margin: 0;
    padding: 10px 0;
}

.settings__editor,
.settings__input {
    position: relative;
    float: left;
    width: calc(100% - 246px);
    max-width: 520px;
}

.settings__dollar {
    font-size: 16px;
    position: absolute;
    top: 9px;
    left: 16px;
}

.settings__input input {
    border: 1px solid #CACACA;
    border-radius: 5px;
    height: 35px;
    width: 100%;
    color: #666666;
    font-size: 15px;
    padding: 0 15px;
    line-height: 35px;
}

.settings__input input.small {
    text-align: center;
    max-width: 74px;
    padding: 0;
}

.settings {
    margin-bottom: 14px;
}

.referral__buttons {
    text-align: center;
    margin: 32px 0 0;
}

.referral__buttons a {
    border-radius: 5px;
    background-color: #1E73BE;
    color: #fff;
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    padding: 10px 33px;
    transition: 0.3s background-color;
}

.referral__buttons a:hover {
    background-color: #133b5f;
}

.referral__message {
    position: fixed;
    bottom: -50px;
    left: calc(50% - 70px);
    background-color: #1E73BE;
    min-width: 140px;
    text-align: center;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    margin: 0;
    z-index: 999;
    border-radius: 4px;
    transition: 0.3s bottom;
}

.selectize-control.popup-select.single div.selectize-input {
    background: #00000017;
}

.referral__message.error {
    background-color: #ff4e4e;
}

td.payment-system img {
    max-width: 45px;
}

td.options a {
    border-radius: 2px;
    padding: 4px 8px;
    color: #fff;
    text-decoration: none;
    background-color: #1E73BE;
    display: inline-block;
    margin: 0 3px;
    font-size: 14px;
    transition: 0.3s background-color;
}

td.options a:hover {
    background-color: #133b5f;
}

td.options a.error {
    background-color: #FF6679;
}

td.options a.error:hover {
    background-color: #e05b6b;
}

table.referral__table {
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
    font-weight: 500;
    width: 100%;
}

.referral__table thead td {
    padding: 2px 13px;
    font-size: 13px;
    color: #666666;
}

.referral__table tbody tr:nth-child(2n-1) {
    background: rgba(201, 201, 201, 0.15);
}

.referral__table tbody td {
    font-size: 15px;
    color: #0A0A0A;
    height: 44px;
}

.referral__table tbody tr {
    max-height: 57px;
}

.withdraw td.user_id {
    width: 8%;
}

.withdraw td.name {
    width: 19%;
}

.withdraw td.email {
    width: 21%;
}

.withdraw td.amount {
    width: 8%;
}

.withdraw td.payment-system {
    width: 10%;
}

.withdraw td.status {
    width: 12%;
}

.withdraw td.date {
    width: 10%;
}

.withdraw td.options {
    width: 12%;
}

.selectize-control.single div.selectize-input {
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 15px;
    text-align: left;
}

td.user_id a,
td.name a {
    color: #0A0A0A;
    text-decoration: none;
    transition: 0.3s color;
}

td.user_id a:hover,
td.name a:hover {
    color: #1E73BE;
}

.popup {
    position: fixed;
    top: 0;
    left: -20px;
    width: calc(100% + 20px);
    height: 100%;
    background: rgba(0, 0, 0, 0.40);
    display: none;
    cursor: pointer;
    z-index: 99;
}

.popup__inner {
    max-width: 491px;
    margin: 64px auto 0;
    background: #fff;
    padding: 49px;
    cursor: default;
    text-align: center;
    box-sizing: border-box;
}

.popup__img img {
    max-width: 150px;
}

.popup__details {
    font-size: 16px;
}

.popup__title {
    color: #666666;
    font-size: 20px;
}

div.selectize-control.single
div.selectize-input,
div.selectize-dropdown.single {
    border: none !important;
    font-size: 16px;
    text-align: left;
}

.selectize-input > .item[data-value="1"] {
    color: #3D3233;
    font-weight: 500;
}

.selectize-input > .item[data-value="2"] {
    color: #417505;
    font-weight: 500;
}

.selectize-input > .item[data-value="3"] {
    color: #D0021B;
    font-weight: 500;
}

.selectize-input > .item[data-value="4"] {
    color: #1E73BE;
    font-weight: 500;
}

.referral__pagination {
    text-align: center;
    margin: 32px 0 2px;
}

.referral__pagination a {
    display: inline-block;
    width: 30px;
    color: rgba(102, 102, 102, 0.5);
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s color;
    font-weight: 500;
}

.referral__pagination a.current,
.referral__pagination a:hover {
    color: #3FA0F8;
}

div .selectize-input.dropdown-active::before {
    display: none;
}

.sub-title {
    color: #666666;
    font-size: 18px;
    margin: 0 0 25px;
}

.dashboard td.name {
    width: 19%;
}

.dashboard td.email {
    width: 21%;
}

.dashboard td.user_id {
    width: 8%;
}

.referral__table tbody td a {
    text-decoration: none;
}

.referral__table tbody td a:before {
    color: #0A0A0A;
    opacity: 0.5;
    transition: 0.3s opacity;
    font-size: 16px;
}

.referral__table tbody tr:hover a:before {
    opacity: 1;
}

.referral__td-value span,
.referral__td-input input {
    width: 50px;
    text-align: center;
    display: inline-block;
}

.referral__td-input {
    display: none;
}

.referral__table tbody td a.dashicons-yes:before {
    font-size: 22px;
    position: relative;
    top: 2px;
}

.referral__btns {
    width: 140px;
    display: inline-block;
}

.single-user .referral__table td {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 13px;
    text-align: left;
    font-size: 16px;
}

.single-user .referral__table td.status {
    text-transform: capitalize;
}

.single-user .referral__table td.options {
    text-align: center;
    padding-right: 0;
    padding-left: 0;
}

.referral__table td.status.expired {
    color: #D0021B;
}

.referral__table td.status.sent {
    color: #1E73BE;
}

.referral__table td.status.pending {
    color: #1E73BE;
}

.referral__table td.status.eligible {
    color: #417505;
}

.referral__table thead td span {
    position: absolute;
    left: -15px;
    top: -1px;
}

.referral__table thead td.name a,
.referral__table thead td.email a,
.referral__table thead td.user_id a,
.referral__table thead td.paid a,
.referral__table thead td.balance a,
.referral__table thead td.pending a,
.referral__table thead td.commission a,
.referral__table thead td.referrals a {
    min-width: 40px;
    display: inline-block;
    text-decoration: none;
    color: #666666;
    position: relative;
    padding: 0 5px;
}

.referral__table tbody td.name,
.referral__table tbody td.email {
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
    word-break: break-all;
}

.statistic__block {
    float: left;
    width: 350px;
    background: #fff;
}

.referral.statistic {
    background: transparent;
    padding: 0;
    margin-bottom: 40px;
}

.referral.statistic:after {
    content: '';
    display: block;
    clear: both;
}

.statistic__block:nth-child(2) {
    margin: 0 25px;
}

.highcharts-credits {
    display: none;
}

.referral__search input[type="search"] {
    border: 1px solid #CACACA;
    border-radius: 5px;
    height: 35px;
    max-width: 300px;
    width: 50%;
    color: #666666;
    font-size: 15px;
    padding: 0 15px;
    line-height: 35px;
    display: inline-block;
    vertical-align: top;
}

.referral__search-run {
    border-radius: 5px;
    background-color: #1E73BE;
    color: #fff;
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    padding: 6px 33px;
    transition: 0.3s background-color;
    border: none;
    vertical-align: top;
    margin: 1px 0 0 5px;
    cursor: pointer;
}

.referral__search-run:hover {
    background-color: #133b5f;
}

.referral__search {
    margin: 0 0 10px;
}

.referral__not-found {
    margin: 25px 0 0;
}

.statistic__block-title {
    border-bottom: 1px solid rgba(225,225,225,0.5);
    margin: 0;
    padding: 24px;
    color: #666666;
    font-size: 18px;
    font-weight: bold;
    line-height: 23px;
}

.statistic-legend {
    float: right;
    padding: 0 24px;
    color: #666666;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
}

.statistic-legend span {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 5px 0 0;
    position: relative;
    top: 1px;
}

.statistic__block-info {
    float: left;
    padding: 0 24px;
}

.statistic__block-info h4 {
    color: #0A0A0A;
    font-size: 52px;
    font-weight: bold;
    line-height: 32px;
    margin: 20px 0 0 0;
}

.statistic__block-info p {
    color: #666666;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
}